

.container-fluid{
    background-color: rgb(214, 18, 18);
}


h1 {
    font-family: 'Anton', sans-serif; 
    letter-spacing: 5px;
    
}

.team-heading{
    
    color: white;
    background-color: black;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

/* Taken from https://www.w3schools.com/howto/howto_css_glowing_text.asp */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }


}

.card{
    min-width: 320px;
}

.manager {
    background: rgb(199,171,45);
    background: linear-gradient(0deg, rgba(199,171,45,1) 0%, rgba(250,230,46,1) 38%, rgba(249,246,23,1) 100%); 

}
.engineer {
    background: rgb(13,54,240);
    background: linear-gradient(0deg, rgba(13,54,240,1) 0%, rgba(24,143,244,1) 32%, rgba(0,212,255,1) 100%); 
}

.intern {
    background: rgb(8,154,35);
    background: linear-gradient(0deg, rgba(8,154,35,1) 0%, rgba(38,198,16,1) 38%, rgba(22,241,21,1) 100%); 
}